@import "tailwindcss";

*{
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{
  min-height: 100vh;
}

body{
    min-width: calc(100% - 40px);
    margin: 20px;
    background: linear-gradient(45deg, rgb(246,213,225), rgb(236,240,250), rgb(206,211,251));
    background-repeat:no-repeat;
    overflow-y: auto;
}

body::-webkit-scrollbar, .builder::-webkit-scrollbar, .auth::-webkit-scrollbar, .job::-webkit-scrollbar, .info::-webkit-scrollbar {
  display: none;
}

.upload {
    min-width: calc(100% - 10px);
    margin: 10px;
    background: linear-gradient(45deg, rgb(246,213,225), rgb(236,240,250), rgb(206,211,251));
    background-repeat:no-repeat;
}

.uploadFile{
        background: linear-gradient(to top, rgb(177, 177, 239), white);

}

.input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 14px;
  padding: 12px;
  outline: none;
}

.smallBtn {
  background: rgb(147, 51, 234);
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
}